<div class="container">
  <form action="/auth/login" method="POST">
    <label for="auth-email">Email</label>
    <input id="auth-email" type="email" name="email">

    <label for="auth-password">Password</label>
    <input id="auth-password" type="password" name="password" placeholder="case-sensitive">

    <button class="btn waves-effect waves-light" type="submit" name="action">Log in</button>
  </form>
  <p>Not a member yet? Click the Signup button in the menubar bar up top!</p>
</div>