<footer class="page-footer #aa00ff purple accent-4">
    <!-- <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Footer Content</h5>
          <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
        </div>
        
      </div>
    </div> -->
    <div class="footer-copyright #aa00ff purple accent-4">
      <div class="container row">
      © 2020 app by Cabassa
      <a class="grey-text text-lighten-4 col s10" href="https://github.com/decpdx584">my github</a>
      <a class="grey-text text-lighten-4 col s12" href="https://www.linkedin.com/in/decpdx584/">my linkedin</a>
      </div>
    </div>
  </footer>