  <nav>
    <div class="nav-wrapper #aa00ff purple accent-4">
      <a href="/" class="brand-logo"><img src="https://i.imgur.com/AQGmf6Cs.png" alt="critterpedia"></a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/">Home/Search</a></li>
        <% if (!currentUser) { %>
            <li><a href="/auth/signup">Signup</a></li>
            <li><a href="/auth/login">Login</a></li>
          <% } else { %>
            <li><a href="/auth/logout">Logout</a></li>
            <li><a href="/inventory">Inventory</a></li>
          <% } %>
      </ul>
    </div>
  </nav>

  <ul class="sidenav #aa00ff purple accent-4" id="mobile-demo">
    <li><a href="/">Home/Search</a></li>
    <% if (!currentUser) { %>
        <li><a href="/auth/signup">Signup</a></li>
        <li><a href="/auth/login">Login</a></li>
      <% } else { %>
        <li><a href="/auth/logout">Logout</a></li>
        <li><a href="/inventory">Your Inventory</a></li>
      <% } %>
  </ul>

  