<div class="container">
  <p>Find a new critter? Search it below to add it to your inventory...</p>
  <form method="GET" action="/search">
      <input type="text" name="q" id="q">
  </form>
</div>

<h3>...or just check out your <a href="/inventory">inventory</a> here...</h3>
<!-- <p>... Or search by category...</p>
<form method="GET" action="/search">
  <button type="submit" class="waves-effect waves-light btn-large" name="fish" id="fish">Fish</button>
  <button type="submit" class="waves-effect waves-light btn-large" name="bugs" id="bugs">Bugs</button>
  <button type="submit" class="waves-effect waves-light btn-large" name="sea" id="sea">Sea Creatures</button>
</form> -->
