
<p>Find a new critter? Search it below to add it to your inventory...</p>
<form method="GET" action="/search">
    <input type="text" name="q" id="q">
</form>

<!-- <p>... Or search by category...</p>
<a class="waves-effect waves-light btn-large" id="fish">Fish</a>
<a class="waves-effect waves-light btn-large" id="bugs">Bugs</a>
<a class="waves-effect waves-light btn-large" id="sea">Sea Creatures</a> -->
