<h3>Welcome to your inventory, <%= user.name %></h3>
<h4>You've already got:</h4>

<% if (user) { %>
    <% critters.forEach(critter => { %>
        <% belongTos.forEach(belongto => { %>
            <% if (belongto.critterId === critter.id) { %>
                <h5> <%= critter.name.replace(/_/g, " ").toUpperCase() %> </h5>
                <h5> <%= belongto.nickname %> </h5>
            <% } %>
        <% }) %>
    <% }); %>
<% }; %>