<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Critterpedia</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <%- include('partials/navbar') %>
    <% include partials/alerts %>
    <h1>Cabassa's Critterpedia</h1>
    <main>
      <%- body %>
    </main>
    <%- include('partials/footer') %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
      document.addEventListener('DOMContentLoaded', () => {
        var elems = document.querySelectorAll('.sidenav');
        var instances = M.Sidenav.init(elems, {});
        var elemsD = document.querySelectorAll('.dropdown-trigger');
        var instancesD = M.Dropdown.init(elemsD, {});
      });
    </script>
  </body>
</html>