<h1>Search Results</h1>

    <% if (results) { %>
        <% let val = Object.values(results); %>
        <h3><%= val[1] %></h3>
        <img src="<%= val[9] %>" alt="<%= Object.values(results)[1] %>">
    <% }; %>