body {
  background-color: #3f51b5;
}

h1 {
  color: #1de9b6;
  text-align: center;
}

h2 {
  color: #ffb300;
  text-align: center;
}

h3 {
  color: #e65100;
  text-align: center;
}

h4 {
  color: #ff3d00;
  text-align: center;
}

h5 {
  color: #dd2c00;
}

.critterLink {
  color: #c6ff00;
}

.nav-wrapper {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.brand-logo {
  right: 45%;
  height: 100%;
  width: 10%;
  position: absolute;
}

main {
  min-height: 90vh;
}

.card {
  align-items: center;
  width: 50%;
  height: 50%
}